<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿Qué necesito para descargar y usar una aplicación?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>Usted necesita un smartphone o algún otro aparato móvil con acceso a internet. No todas las aplicaciones funcionan en todos los aparatos móviles. Cuando usted compra uno de estos aparatos debe usar el sistema operativo y el tipo de aplicaciones que corresponde a ese aparato.</p>
</ion-content>
