<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿Por qué hay algunas aplicaciones gratis?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>Algunas aplicaciones son distribuidas gratuitamente por tiendas de aplicaciones. 
    Los creadores de estas aplicaciones pueden ganar dinero de las siguientes maneras: Algunos proveedores venden un espacio publicitario dentro de la aplicación. Los creadores de estas aplicaciones pueden ganar dinero con los anuncios, por este motivo distribuyen la aplicación gratuitamente para poder llegar a la mayor cantidad posible de usuarios.</p>
</ion-content>
